img {
    border-radius: 50%;
    height:200px;
    width:200px;
    margin: 10px;
  } 

.container {
    display:flex;
    border: 3px solid rgba(223, 67, 28, 0.696);
    margin-bottom: 10px;
    /* align-items: center; */
}

.info {
    margin: 20px;
}

.iconinfo {
    display:flex;
    align-items: center;
    color: rgb(222, 35, 35);
}

span {
    font-size: 20px;
    margin-left: 3px;
    margin-top: 4px;;
}

.rightIcons {
   
    margin-left: auto; 
    margin-right: 0;
    margin-top: 12px;
    padding: 10px;
    
}

.rightIcons i {
    font-size: 30px;
    margin-right: 10px; /* Agrega espacio horizontal */
    border:0;
}